@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
}

/* html,
body {
  overflow-y: hidden;
} */


body {
  font-family: "Fustat", sans-serif;
  box-sizing: border-box;

}

.quote-text:hover {
  color: #ffa500;
  /* Change text color on hover */
  transition: color 0.3s ease-in-out;
}